/* GLOBAL */

body {
    font-family: sans-serif;
    background-color:rgba(248, 249, 250);
    margin: 0 auto;
    padding: 0 0.5em;
}

/* LAYOUT */

table {
    width: 100%;
    margin-bottom: 1em;
}

th {
    text-align: left;
    padding-bottom: 1em;
    border-bottom: solid 2px black;
}

th,
td {
    padding: 0.5em;
}

tr:hover {
    background-color: rgb(230, 230, 231);
}

td,
#bottom-div {
    border-bottom: solid 2px rgb(0, 0, 0, 0.1);
}


input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.3em;
}

.numero {
    text-align: center;
    width: 1em;
}

.situacao {
    padding: 0.4em 0;
}

.aprovado {
    background-color: olive;
}

.recuperacao {
    background-color: yellow;
}

.reprovado {
    background-color: red;
}

#bottom-div {
    box-sizing: border-box;
    padding: 0.5em;
    display: flex;
    gap: 3em;
    line-height: 1.5;
    letter-spacing: 0.5px; /* Com a fonte correta isto não é necessário */
}

#heading-media {
    width: min-content;
}

button {
    display: block;
    box-sizing: border-box;
    padding: 0.75em;
    font-size: 1em;
    border-style: solid;
    border-color: rgba(15, 202, 240);
    border-radius: 0.5em;
    background-color: rgba(248, 249, 250);
    color: rgba(15, 202, 240);
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover,
button:focus-visible {
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

#bottom-div,
#button-verificar,
#button-limpar {
    margin: 0.5em;
    width: 27%;
    min-width: 170px;
    transition-duration: 0.4s;
}

#button-verificar:active {
    color:white;
    background-color: rgba(15, 202, 240);
}

#button-limpar {
    color:red;
    background-color: white;
    border-color: red;
}

#button-limpar:active {
    color:white;
    background-color: red;
}

header {
    box-sizing: border-box;
    display: flex;
    gap: 1em;
    padding: 0 1em;
    width: 100%;
    margin:0 auto;
}

header div {
    flex-grow: 1;
}

header button {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 0.5em 0;
    padding: 0.25em;
    font-size: em;
    border-style: solid;
    border-color: rgba(15, 202, 240);
    border-radius: 0.5em;
    background-color: rgba(248, 249, 250);
    color: rgba(15, 202, 240);
    font-weight: bold;
    transition-duration: 0.2s;
    cursor: pointer;
}

/* header button:hover, */
header button:active {
    color:white;
    background-color: rgba(15, 202, 240);
}


#output-media {
    font-weight: bold;
}

@media (max-width: 595px) {
    header {
        flex-direction: column;
        gap: 0em;
    }
}